{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h3>Exporte</h3>
<form id="export-form" action="{% url "exports" %}" method="post">
    {% csrf_token %}
    <h4>Projektauswahl</h4>
    {{form.export_session}}
    <div class="row">
        <div class="small-6 column">
            <h4>Exporttyp</h4>
            {{form.export_type}}
        </div>
        <div class="small-6 column">
            <h4>Exportformat</h4>
            {{form.export_format}}
        </div>
    </div>
    <button class="button" type="submit">Exportieren</button>
    <script>

    </script>
</form>

<div id="result">

</div>
{% endblock content %}

{% block javascript %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static "js/autocomplete.js" %}"></script>
<script>
ProjectComplete();
</script>
{% endblock javascript %}