{% extends "base.html" %}

{% block content %}
<br> Dies ist die Hauptseite des DAISI-Webinterfaces.
<br>

<p>
    <b>Abschnitte:</b>
    <ol>
        <li>Statusabfragen</li>
        Hier kann der Status der Vorsortierung und Endbestimmungen aller Projekte in HRO abgefragt werden.
        <li>Datenbankexporte</li>
        Unter diesem Menupunkt befinden sich Abfragen und Exporte der DAISI-Datenbank als BSH-Export oder in individuellem Format.
        <li>QA Abfragen</li>
        Hier sind QA-Relevante Abfragen der DAISI-Datenbank zu finden.
    </ol>
</p>
{% endblock content %}