{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="small-3 columns">
    <ul class="vertical menu" data-accordion-menu>
    {% for owpas, years in view.project_list.items %}
    <li>
        <a>{{owpas}}</a>
        <ul class="menu vertical nested">
            {% for year, sessions in years.items %}
            <li>
                <a>{{year}}</a>
                <ul class="menu vertical nested">
                    {% for session in sessions %}
                    <li>
                        <a type="session"  url="{% url "session_progress" session %}">{{session}}</a>

                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
    </ul>
</div>

<div id="content" class="small-9 columns">

</div>
{% endblock content %}

{% block javascript %}
<script>
        $(document).ready( function() {
        $('[type="session"]').click(function() {
            url = $(this).attr('url');
            $('#content').load(url);
        });
    });
</script>
{% endblock javascript %}