{% load staticfiles %}

{% block session %}
<div class="row">
    {% for project in projects %}
    <div class="small-6 columns">
        <div id="wrapper" style="width:100%; text-align:center">
            <img id="busy-{{project}}" src="{% static "img/busy.gif" %}">
        </div>
        <div id="{{project}}"></div>
        <script>
            $(document).ready(function(){
            $('#exports').hide();
                url = "{% url "project_progress" project %}";
                $('#{{project}}').load(url, function(){
                    $('#busy-{{project}}').hide();
                });
                $('#exports').show();
            });
        </script>
    </div>
    {% endfor %}
</div>
{% endblock %}

